@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

.cart {
    padding: 7rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50rem;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;

    h1 {
        font-family: "Teko", sans-serif;
        text-transform: uppercase;
    }

    hr {
        width: 100%;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        padding: 5rem 1rem 1rem 1rem;
gap:3rem;
        &__list {
            display: flex;
            flex-direction: column;
            min-height: 50rem;
            max-height: 60rem;
            align-items: center;
            // width: 100%;
            flex-basis: 75vw;

            &::-webkit-scrollbar {
                width: 10px; // Width of the scrollbar
            }
            &::-webkit-scrollbar-track {
                background: rgb(160, 160, 160); // Color of the track
            }
            &::-webkit-scrollbar-thumb {
                background: rgb(111, 111, 111); // Color of the scroll thumb
            }
        
            // Handle on hover
            &::-webkit-scrollbar-thumb:hover {
                background: #3F7162; // Color of the scroll thumb on hover
            }
            // scrollbar-width: none;
            overflow-y: scroll;

            table {
                border-collapse: collapse;
                border-spacing: 2rem 2rem;
                width: 90%;

                th {
                    // font-family: "Teko", sans-serif;
                    // font-size: 5rem;
                    // font-weight: normal;
                    // padding: 1rem;
                    background-color: white;
                    position: sticky;
                    top: 0;
                }

                td {
                    text-align: center;
                    padding: 1rem;

                    button {
                        background-color: #ff4040;
                        border: none;
                        color: rgb(0, 0, 0);
                        padding: .5rem .5rem;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        cursor: pointer;
                        border-radius: 50%;
                    }
                }

                tr {
                    border-bottom: 1px solid #dddddd;
                }
            }

            &__productDetails {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
                width: 100%;

                img {
                    width: 7rem;
                    height: auto;
                }

                h3 {
                    font-weight: 400;
                }
            }
        }

        &__checkout {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            flex-basis: 25vw;

            h1,
            h3 {
                font-family: "Teko", sans-serif;
                font-weight: normal;
            }

            h1 {
                font-size: 3rem;
            }

            h3 {
                font-size: 2rem;
            }

            &__row {
                display: inherit;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }

            .pay__icon {
                // padding: 1rem;
                height: auto;
                width: 6rem;
                border-radius: 1.5rem;
            }

            .secondary__btn {
                font-family: "Teko", sans-serif;
                font-size: 2rem;
                text-transform: uppercase;
            }
        }
    }

    .close__icon {
        height: auto;
        width: 2.5rem;

        &:hover {
            cursor: pointer;
        }
    }
}