.home{
    .navbar{
        font-size: 1.35rem;
        padding: 1.2rem;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 6rem;
        width: 100%;
        // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;s
        &>*{
            width: auto;
            text-align: center;
        }
        &__logo {
            padding: 1rem;
            height: auto;
            width: 5rem;
            background-color: black;
        }
        &__menu{
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: space-between;
            gap: 2rem;
        }
    
    }
    .hero{
        position: relative;
        height: 55rem;
        // background-image: linear-gradient(to right,rgba(var(--color-primary-light), 0.8),rgba(var(--color-primary-dark), 0.8));

        &__images{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            &_2{
                height: auto;
                width: 45rem;
                z-index: 100;
            }
            &_1,&_3{
                width: 6rem;
                opacity: 0.5;
                 
                &:hover{
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
            &_2{
                cursor: grab;
                &:active{
                    cursor: grabbing;
                }
            }
        }

        &__product{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 15rem;
            z-index: 90;
            color: #fff;
        }

        &__btn1{
            background-color: #ffffff00;
            border: 2px solid #fff;
            color: rgb(255, 255, 255);
            padding: 1.5rem 2rem;
            text-align: center;
            font-size: 1.6rem;
            cursor: pointer;
            border-radius:2.7rem;
            text-decoration: none;
            position: absolute;
            top:55%;
            left: 20%;
            font-weight: 700;
            z-index: 100;
            &:active{
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }
        }

        &__btn2{
            background-color: #ffffff;
            border: 2px solid #fff;
            color:rgb(0, 0, 0);
            
            padding: 1.5rem 2rem;
            text-align: center;
            font-size: 1.6rem;
            cursor: pointer;
            border-radius:2.7rem;
            text-decoration: none;
            position: absolute;

            top:55%;
            left: 30%;
            font-weight: 700;
            z-index: 100;
            &:active{
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }
        }

    }
}
