.navbar{
    font-size: 1.35rem;
    padding: 1.2rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 6rem;
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &>*{
        width: auto;
        text-align: center;
    }
    &__logo {
        padding: 1rem;
        height: auto;
        width: 5rem;
        background-color: black;
    }
    &__menu{
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items:center;
        gap: 2rem;
        text-transform: uppercase;
        &__search{
          display: flex;
          justify-content: space-between;
          border-radius: 2.2rem;
          border: 2px solid #4a9eec00;
          
          input[type="text"] {
            width: 20rem;
            padding: 1rem;
            outline: none;
            border: none;
            border-radius: 2rem;
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          }
          
                    button[type="submit"] {
                      color: rgb(0, 0, 0);
                      --size-button: 4rem;
                      width: var(--size-button);
                      height: var(--size-button);
                      padding: 0.8rem;        
                      background-color: #4e99e9;
                      border: none;
                      // color: #fff;
                      cursor: pointer;
                      // padding: 1rem 2rem;
                      border-radius: 2rem;
                      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
                      transition: .9s ease;
                     
          
                      &:hover {
                        color: rgb(255, 255, 255);
                        background-color: #376ba3;
                        cursor: pointer;
          
                      }
                    }
          
                    &:hover,
                    &:focus {
                      border: 2px solid #4A9DEC;
                      box-shadow: 0px 0px 0px 7px rgba(74, 158, 236, 0.35);
                      background-color: white;
                    }
        }
        
          h3{
            a{
              
        text-decoration: none;
            }
            &:hover{
              cursor: pointer;
            }
          }
    }

}