.product{
    padding: 7rem 1rem 1rem 1rem;
    &__category{
        color: rgb(185, 185, 185);
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    &__hero{                
        display: flex;
        width: 100%;
        &__left{
            width: 50%;
            display: flex;
    justify-content: center;
    align-items: center;
            img{
                width: 40rem;
                height: auto;

            }
        }
    }
}