.product {
    padding: 7rem 1rem 1rem 1rem;

    &__category {
        color: rgb(185, 185, 185);
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    &__hero {
        display: flex;
        width: 100%;

        &__left {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 40rem;
                height: auto;

            }
        }
        &__right{
            width: 50%;
            h1{
                font-size: 5rem;
                margin-bottom: 3rem;
            }
            p{
                font-size: 2rem;
                color: rgb(58, 58, 58);
            }
            &__addtocart{
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
                margin: 2rem 0;
                #itemCount,#btnAddCart{
                    width: 45%;
                }
            }
            #btnBuyNow{
                width: 50%;
                background-color: #56907f;
                color: #ffffff;
                border: none;
            }
        }
    }
}