.search {
    background-color: #ededed;
    display: grid;
    grid-template-areas: 'left main main main'
        'left main main main';

    &__filter {
        border-radius: 1rem;
        padding: 2rem 2rem 2rem 2rem;
        margin: 7rem 0 1rem 1rem;
        grid-area: left;
        background-color: #ffffff;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        display: flex;
        flex-direction: column;
        width: 27rem;
        &__content{
            h3{
                font-size: 1.5rem;
                text-transform: uppercase;
            }
            .range {
                width: 100%;
                height: 1.5rem;
                -webkit-appearance: none;
                background: #d2d2d2;
                outline: none;
                border-radius: 1.5rem;
                overflow: hidden;
                // box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
              }
              .range::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background: #3F7162;
                cursor: pointer;
                border: 4px solid #333;
                box-shadow: -40.7rem 0 0 40rem #3F7162;
              }
              
        }
    }

    &__content {
        border-radius: 1rem;
        background-color: #ffffff;
        padding: 5rem 5rem 5rem 5rem;
        margin: 7rem 1rem 1rem 1rem;
        grid-area: main;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 5rem;
        flex-wrap: wrap;

        &__single {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 25rem;
            background-color: #ffffff;
            padding: 0 0 2rem 0;
            img {
                width: 25rem;
                aspect-ratio: 1/1;
                object-fit: contain;
                // mix-blend-mode: color-burn;
                // filter: drop-shadow(8px 8px 10px gray);
            }
            &:hover{
                // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                cursor: pointer;
            }
        }
    }
    &__details{
        width: 100%;
        &__footer{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                outline: none;
                cursor: pointer;
                border: none;
                padding: 0.9rem 2rem;
                margin: 0;
                font-family: inherit;
                font-size: inherit;
                position: relative;
                display: inline-block;
                letter-spacing: 0.05rem;
                font-weight: 700;
                font-size: 1.7rem;
                border-radius:4px;
                overflow: hidden;
                background: #2b2b2b;
                color: black;
                span {
                    position: relative;
                    z-index: 10;
                    transition: color 0.4s;
                   }
                   &:hover span {
                    color: white;
                   }
                   &::before,
                   &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                   }
                   &::before {
                    content: "";
                    background: #3F7162;
                    width: 120%;
                    left: -10%;
                    transform: skew(30deg);
                    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
                   }
                   &:hover::before {
                    transform: translate3d(100%, 0, 0);
                   }
               }
               
               
        }
    }
}